/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

#brand {
  width: 100%;
  padding: 3em;
  background-color: #541E42;
  text-align: center;
  margin-bottom: 2em;

  a {
    text-decoration: none;
    font-weight: bold;
    box-shadow: 5px 8px rgba(0, 0, 0, 0.4);
    padding: 0.5em 1em;
    border-style: solid;
    border-color: black 2px;
    border-radius: 20px;
    color: black;
    background-color: white;
  }
}

#container {
  width: 90%;
  display: block;
  margin: 0 auto;
}

.table {
  td {
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
