// Place all the styles related to the Restaurants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
nav {
  margin-bottom: 1em;
  border-radius: 10px;
}

.navbar .nav {
     margin: 0;
     display: table;
     width: 100%;
 }

 .navbar .nav li {
     display: table-cell;
     float: none;
     padding: 0.5em 1em;
 }

.navbar .navbar-nav .nav-item .nav-link {
  padding: 0 0.5em;
  color: white;
}

#listings {
  .table {
    td {
      max-width: 700px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    tbody {
      tr:nth-child(odd) {
        background-color: #D199AE
      }
    }
  }
}

#show-restaurant {

  .card {
    margin: 0 auto;
    width: 70%;
    text-align: center;
  }

  .table {
    margin: 1em 0;
    width: 100%;
    display: inline-table;
    text-align: center;
  }
}

#search {

  form {
    display: flex;
  }
}

#favorite_button {
  margin: 1em auto;
  text-align: center;
}

#header {
  text-align: center;
  background-color: #541E42;
  color: white;
  th {
    border: none;
  }
}
